
*{
    margin: 10px;
    padding: 0;
}

.loginBox{
    height: 300px;
    width: 400px; 
    background:lightgray;
    margin: 8rem auto;
    border-radius: 20px;
    text-align: center;
    padding-top: 100px;
    box-shadow: whitesmoke;
}

label{
    margin: 10px;
    border: 1px solid black;
    
}

table,tr,td{
    border: 2px solid lightgray;
}
